
<!DOCTYPE html>
<html>
  <title>V.I.C.T.O.R.</title>
  <body>
    <center>
      <h1>
        Vishwakarma Institute of Technology
      </h1>
    </center>
      <div>
       <p>
          <center><span>Hi! I'm V.I.C.T.O.R. How can I help you?</span></center>
      </p>
       </div>
       </div>
  </body>
</html>

<head>
<link rel="stylesheet" type="text/css" href="/static/style.css"> 
<!--<script src="<a href="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js</a>"></script>
-->  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

      
</head>

<body>
<h1>Flask Chatterbot Example</h1>
<div>
<div id="chatbox">
<p class="botText"><span>Hi! I'm V.I.C.T.O.R..</span></p>
</div>
<div id="userInput">
<input id="textInput" type="text" name="msg" placeholder="Message">
<input id="buttonInput" type="submit" value="Send">
</div>

<script>
$(document).ready(function () {    
    function getBotResponse() {
        var rawText = $("#textInput").val();
        var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
        $("#textInput").val("");
        $("#chatbox").append(userHtml);
        document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
        $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
        });
    }

    $("#buttonInput").click(function() {
        getBotResponse();
    })
});
</script>
</div>
</body>
</html>
